body, html{padding:0;margin:0;}
section{box-sizing:border-box;color:#fff;font-size:24px;text-align:center;}
.s1{background-color:#ff7040;}
.s2{background-color:#e8e87b;}
.s3{background-color:#69a7ff;}